<!-- views/partials/footer.ejs -->
</section>
</main>
</div>
</div>
<footer class="footer mt-5 py-3 align-middle">
  <p style="margin-bottom: 0;" class="text-muted text-center ">
    Copyright <%= new Date().getFullYear() %> &copy; Library Management System
  </p>
</footer>
</body>

</html>