<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <h6><i class="fa fa-database" aria-hidden="true"></i> Catalog</h6>
    <a class="nav-link" href="/catalog">
      <i class="fa fa-home" aria-hidden="true"></i>
      Home</a>
      <h6>List and Search</h6>
    <ul class="nav flex-column">
      
      <li class="nav-item">
        <a class="nav-link" href="/catalog/books/1">
          <i class="fa fa-book" aria-hidden="true"></i>
          Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/catalog/authors/1">
          <i class="fa fa-user" aria-hidden="true"></i>
          Authors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/catalog/bookinstances/1">
          <i class="fa fa-files-o" aria-hidden="true"></i>
          Borrow book instances</a>
      </li>
    </ul>
    <br/>
    <h6>Create Items</h6>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/catalog/author/create">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
          Create author</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/catalog/book/create">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
          Create book</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/catalog/bookinstance/create">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
          Create bookinstance (copy)
        </a>
      </li>
    </ul>
<hr/>
<h6><i class="fa fa-user" aria-hidden="true"></i> Borrower</h6>
    <ul class="nav flex-column">
      
    <li class="nav-item">
      <a class="nav-link" href="/borrower/borrowers/1">
        <i class="fa fa-user" aria-hidden="true"></i>
        All Borrowers</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/borrower/create">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Create new borrower</a>
    </li>
    </ul>
    <hr />
    <h6><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</h6>
    <ul class="nav flex-column">
      
    <li class="nav-item">
      <a class="nav-link" href="/admin/dashboard">
        <i class="fa fa-user" aria-hidden="true"></i>
        Dashboard</a>
    </li>
    <hr />
    </ul>


  </div>
</nav>