<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <h6>Catalog</h6>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/catalog">
          <i class="fa fa-home" aria-hidden="true"></i>
          Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/catalog/books/1">
          <i class="fa fa-book" aria-hidden="true"></i>
          All Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/catalog/authors/1">
          <i class="fa fa-user" aria-hidden="true"></i>
          All Authors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/catalog/bookinstances/1">
          <i class="fa fa-files-o" aria-hidden="true"></i>
          All book-instances</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/catalog/author/create">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
          Create new author</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/catalog/book/create">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
          Create new book</a>
      </li>
      
      <!-- <li class="nav-item">
        <a class="nav-link" href="/catalog/publisher/create">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
          Create new publisher</a>
      </li> -->

      <li class="nav-item">
        <a class="nav-link" href="/catalog/bookinstance/create">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
          Create new bookinstance (copy)
        </a>
      </li>
    </ul>
<hr/>
<h6>Borrower</h6>
    <ul class="nav flex-column">
      
    <li class="nav-item">
      <a class="nav-link" href="/borrower/borrowers/1">
        <i class="fa fa-user" aria-hidden="true"></i>
        All Borrowers</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/borrower/create">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Create new borrower</a>
    </li>
    <hr />
    </ul>

    <h6>Dashboard</h6>
    <ul class="nav flex-column">
      
    <li class="nav-item">
      <a class="nav-link" href="/admin/dashboard">
        <i class="fa fa-user" aria-hidden="true"></i>
        Dashboard</a>
    </li>
    <hr />
    </ul>


  </div>
</nav>